<!--Fonts from Google"s Web font directory at http://google.com/webfonts
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
-->
<!--为markdown超链接添加targe=_blank-->
<script type="text/javascript">
    
    function addBlankTargetForLinks () {
        
        $('a[href^="http"]').each(function(){
                                  
                                  $(this).attr('target', '_blank');
                                  
                                  });
                                  
    }

$(document).bind('DOMNodeInserted', function(event) {
                 
                 addBlankTargetForLinks();
                 
                 });
                 
    </script>
